@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'avantgarde_normalbook';
    font-weight: normal;
    font-style: normal;
    src: local('avantgarde_medium'), url('/fonts/avantgarde/avantn-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'avantgarde_medium';
    font-weight: normal;
    font-style: normal;
    src: local('avantgarde_medium'), url('/fonts/avantgarde/avantgarde_bold-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'avantgardebold';
    font-weight: 400;
    src: local('avantgarde_medium'), url('/fonts/avantgarde/avantgarde_bold-webfont.woff2') format('woff2');
  }

  main {
    @apply tw-box-border tw-font-normal;
  }

  main a {
    @apply !tw-no-underline hover:tw-text-black;
  }

  .zero-results-categories a,
  #site-search a {
    @apply !tw-text-cyan hover:!tw-underline;
  }
}

@layer utilities {
  .minimized {
    @apply tw-h-0 tw-w-0 tw-border-none tw-outline-none tw-m-0 tw-p-0 tw-absolute !important;
  }
}
